/**
* Framasphère Redesign
*/

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("diasp.eu"),
  domain("diaspora-fr.org"),
  domain("mondiaspora.net"),
  domain("framasphere.org"),
  domain("diaspote.org"),
  domain("diasp.org"),
  domain("joindiaspora.com"),
  domain("pod.geraspora.de"),
  domain("diasp.de"),
  domain("despora.de"),
  domain("calispora.org"),
  domain("poddery.com"),
  domain("londondiaspora.com"),
  domain("wk3.org"),
  domain("www.cryptospora.net"),
  domain("ser.endipito.us"),
  domain("ilikefreedom.org"),
  domain("yaspora.com"),
  domain("diasp.eu.com"),
  domain("nesc.io"),
  domain("pod.nocentre.net"),
  domain("failure.net"),
  domain("diaspora.re"),
  domain("dipod.es"),
  domain("social.deuxfleurs.fr"),
  domain("podricing.org") {

    /* 
    REINIT 
    */

    .container-fluid .btn:hover i, .container-fluid .btn:focus i, .container-fluid .btn:active i, .container-fluid .btn.active i {
      color: inherit !important;
    }

    /* 
    OVERRIDE : LAYOUT 
    */

    /* MAIN CONTAINERS */


    body > .container-fluid {
      margin-top: 90px !important;
      max-width: 1024px;
      margin: auto;
    }
 
    /*
    ANIMATIONS
    */

    .container-fluid *:hover {
      -webkit-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      -moz-transition: all .4s ease-in;
    }


    /* 
    GLOBAL 
    */

    /* BODY */
    body {   
      font-family: Helvetica, "Liberation Sans", Arial, sans-serif;
      background-color: #f2f2f2;
      color: #222222;
    }

    body, p, h1, h2, h3, h4, h5, h6, textarea, input, * {
      font-family: Helvetica, "Liberation Sans", Arial, sans-serif;
    }



    /* LINKS */
    a {
      color: #08C;
    }

    /* FORMS */
    .input-append input[class*="span"], .input-append .uneditable-input[class*="span"], .input-prepend input[class*="span"], .input-prepend .uneditable-input[class*="span"], .row-fluid input[class*="span"], .row-fluid select[class*="span"], .row-fluid textarea[class*="span"], .row-fluid .uneditable-input[class*="span"], .row-fluid .input-prepend [class*="span"], .row-fluid .input-append [class*="span"] {
      border: 1px solid #f2f2f2;
      box-shadow: none;
    }

    /* NAVS */

    .nav > li > a:hover {
      background-color: #08C;
      color: white;
    }

    .nav > li > a:hover * {
      color: white;
    }

    /* PANES */

    #left_pane {
      border: 1px solid #f2f2f2;  
    }

    #left_pane #left_pane_header {
      border: 1px solid #222222;
      background: #222222;
      color: white;
    }
    
    /* BADGES */
    
    .badge.badge-default {
      background-color: #0088CC;
    }
    
    /* DROPDOWN MENUS */
    
     .dropdown-menu {
      border-radius: none !important;
       box-shadow: none !important;
    } 

    /*
    HEADER
    */

    body > header {
      margin-bottom: 20px;
      border-bottom: 1px solid #222222;
      
    }
    
    @media screen and (max-width: 1116px) {
      body > header {
        padding-left: 20px !important;
        max-width: 100% !important;
        width: 100% !important;
      }
    }

    header .container {
      width: 1024px !important;
     max-width: 1024px !important; 
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    body > header {
      background: #222222;
      box-shadow: none;
      padding: .75em 0;
    }

    #selected_aspect_contacts .avatar {
      border-radius: 100%; 
    }

    #home_user_badge img {
      border-radius: 100%;
    }

    .branding-sprite, .branding-apple-splash, .branding-asterisk, .branding-asterisk_white, .branding-ball, .branding-ball_small, .branding-header-logo, .branding-header-logo2x, .branding-logo, .branding-logo_small, .branding-logo_white, .branding-logo_white2x, .branding-logo_white4x, .branding-powered_by_diaspora, .branding-white2x, .branding-white_on_grey {
      background-image: none;
    }

    body > header .diaspora_header_logo {
      width: 85px;
    }

    body > header .diaspora_header_logo:before {
      content: "diaspora *";
      padding-top: 10px;
      display: block;
      font-weight: bold;
      color: white;
    }


    body > header ul#landing_nav > li a.login {
      color: white;
      text-decoration: none;
      box-shadow: none;
      border: 1px solid transparent;
      background-color: #222222;
    }

    body > header ul#landing_nav > li a.login:hover {
      background-color: #08C;
    }

    body > header .header-nav > span, body > header ul#user_menu > li {
      border: 0; 
    }

    body > header #global_search form input {
      box-shadow: none;
      border-radius: 0;
      padding: .5em;
      height: 11px !important;
      width: 250px !important;
    }
    
    /* Right menu header
    *********************/
    body > header .user-menu-item a {
      border-bottom: 1px solid transparent;
    }
    
    body > header .user-menu-item a:hover {
      background-color: #0088CC !important;
      border-bottom: 1px solid #222222;
    }
    
    body > header .user-menu-item a:last-child:hover {
      border-bottom: 1px solid transparent;
    }
    
    /*
    HEADER SEARCH RESULT
    */
    
    .ac_results {      
      border: 1px solid #222222;
      box-shadow: 0px 0px 2px black;
    }
    
    .ac_results ul li:hover {
      background: #0088CC;
    }
    
    .ac_results ul {
      background: #222222;
      color: white;
    }
    
    .ac_results .ac_over {
      background: none;
    }
    
    .ac_results .ac_even {
      background: #111111;      
    }
    
    .ac_results .ac_odd {      
      background-color: transparent;
      background: none;
    }

    /*
    OVERRIDE : LOGIN PAGE
    */ 


    #login .form-signin fieldset {
      border: none;
    }

    body > #login.container-fluid {
      padding-top: 0;
      height: 100vh !important;
      width: 100% !important;
      max-width: 100% !important;
      margin-top: 0 !important;
      background-color: #222222;
      color: white;
    }

    #login .form-signin input[type="password"],#login .form-signin input[type="text"] {
      border-color: white;
    }

    #login .form-signin input[type="text"]:focus, #login .form-signin input[type="password"]:focus {
      border-color: transparent;
    }

    #login textarea,#login input[type="text"],#login input[type="password"] {
      border-color: white;
    }

    .btn[name="commit"] {
      background-color: #08C !important;
      border-color: transparent !important;
      color: white !important;;
    }

    .btn[name="commit"]:hover {
      background-color: black !important;
    }
    
    /*
    OVERRIDE : FORGOT PASSWORD PAGE
    */
    #forgot_password {
      background-color: #222222;
      min-height: 100vh;
      color: white;
    }

    /* 
    OVERRIDE : REGISTRATION PAGE 
    */

    #registration {
      padding-top: 80px;
      background-color: #222222;
      width: 80%;
    }

    #registration #sign-up-text {
      color: white;
    }

    #image-container {
      display: none;
    }

    /*
    NOTIFICATIONS
    */
    
    #view_all_notifications {
      background-color: #0088CC !important;
    }
    
    #view_all_notifications:hover {
      background-color: #222222 !important;
    }
    
    body > header #nav_badges #notification_dropdown a {
      color: #0088CC;
    }

    body > header #nav_badges #notification_badge.active {
      background-color: transparent;
      border: none;
      border-image: none;
      margin-left: 2px;
    }

    body > header #nav_badges #notification_dropdown {
      position: relative;
      top: 7px;
      left: -175px;
      box-shadow: 0 2000em 0 2000em rgba(0, 0, 0, .4);
      background: #f2f2f2;
      border: 0;
      z-index: 1000;
    }

    body > header #nav_badges #notification_dropdown:before {
      content: "";
      width:0;
      height:0;
      border: 1em solid transparent;
      border-top: none;
      border-bottom: 1em solid #f2f2f2;
      position:absolute;
      top: -7px;
      left: 180px;
      font-size: .5rem;
    }

    body > header #nav_badges #notification_dropdown .header {
      border-bottom: none !important;
      padding: 1.25em;
    }

    body > header #nav_badges #notification_dropdown .header h4 {
      padding-bottom: 0px;
      margin-bottom: 0px;
      font-size: 16px;
      color: #222;
      vertical-align: bottom;
      display: inline-block;
    }

    body > header #nav_badges #notification_dropdown .notification_element {
      border: none;
      background-color: white;
      margin-bottom: 3px;
      padding: 1em;
      color: #222;
      opacity: .4;
    }

    body > header #nav_badges #notification_dropdown .notification_element.unread {
      background-color: white;
      color: #222;
      opacity: 1;
    }

    body > header #nav_badges #notification_dropdown .view_all {
      background-color: transparent;
      border-bottom: none;
      text-align: center;
    }
    body > header #nav_badges #notification_dropdown .view_all a {
      display: block;
      padding: .5em;
      margin: .75em;
      background-color: rgba(63, 143, 186, 1);
      color: white;
      font-size: 12px;
      font-weight: bold;
      border-radius: .25em;
    }

    /* 
    NOTIFICATIONS PAGE
    */

    /* Left */
    #notifications_container .stream .day_group .date {
      color: #08C;
    }

    #notifications_container .nav.nav-tabs li a {
      border-radius: 0 !important;
    }

    #notifications_container .nav.nav-tabs li.active > a {
      background-color: #08C;
      color: white;
      border-color: #08C;
    }

    #notifications_container .nav.nav-tabs li.active > a .entypo {
      color: white;
    }


    #notifications_container .nav.nav-tabs li > a {

    }

    #notifications_container h3 {
      background: #222222;
      color: white;
      padding: 5px 10px;
      margin-bottom: -1px;
    }


    #notifications_container .nav.nav-tabs li > a {
      color: #222222;
    }

    #notifications_container .nav.nav-tabs li > a:hover {
      background: #08C;
      color: white;
    }

    #notifications_container .nav.nav-tabs li > a:hover * {
      color: white;
    }

    /* Right */

    #notifications_container .stream .header {
      border-bottom: none;
    }

    #notifications_container .stream .stream_element.media {
      border-bottom: 1px solid #f2f2f2;
      background: none;
    }

    #notifications_container .stream .day_group {
      border: none;
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;

      border-left: 1px solid white;
      border-right: 1px solid white;
    }

    #notifications_container .stream .day_group:nth-child(2n) {
      background-color: white;
    }

    #notifications_container .stream .day_group + .day_group {

      border: 1px solid white;
      margin-top: 0;
      margin-bottom: 0;
    }

    #notifications_container .stream .stream_element.media.unread {
      background-color: #f3f3f3;
      border: 1px dotted #f2f2f2 !important;
      margin-right: 10px;
      box-shadow: 0px 0px 1px gray;
    }

    /*
    GLOBAL ELEMENTS
    */

    .text {
      color: inherit !important;
    }

    .avatar {
      border-radius: 100%;  
    }

    .item_count {
      background: white;
      color: #222222;
    }

    .nav-tabs.nav-stacked {
      background: white;
    }

    a.tag {
      color: #08C; 
    }

    .btn.green {
      background-image: none;
      background: #4d824d !important;
      color: white !important;
    }
    
    .btn.green .caret {
      border-top: 4px solid white;
    }

    .btn.green:hover {
      background: #222222 !important;
    }

    /* Back to top */

    #back-to-top.visible {
      opacity: 1;
    }

    #back-to-top {
      background-color: #08C; 
    }

    /* hovercard */

    #hovercard {
      box-shadow: 0px 0px 3px #222222;
      background-color: #222222;
      border: 1px solid #222222;
    }
    #hovercard .hovercard_footer {
      background-image: none;
      background: #222222;
      border-top: 1px solid #111111;
    }
    
    #hovercard h4 a {
      color: #08C;
    }
    
    #hovercard .hovercard_footer .footer_container a {
      color: #08C;
      font-weight: bold;
    }
    
    #hovercard button.green.btn.btn-small  {
      text-shadow: none;
    }

    /* Dropdown */

    .dropdown .wrapper {
      box-shadow: 0px 2px 5px #f2f2f2;
      transition: opacity 0.1s linear 0s;
      width: 145px;
      margin-top: 3px;
      background-color: #FFF;
      border: 1px solid #f2f2f2;
    }

    .dropdown-menu {
      box-shadow: 0px 2px 5px #f2f2f2;
      transition: opacity 0.1s linear 0s;
      width: 145px;
      margin-top: 3px;
      background-color: #FFF;
      border: 1px solid #f2f2f2;
    }

    .btn-group.open .btn.dropdown-toggle {
      background-color: #444;
      color: white;
    }

    .aspect_dropdown li a:hover {
      background-image: none;
      background-color: #444 !important;
      color: white;
    }

    .aspect_dropdown li:hover i {
      color: white !important;
    }


    /*
    LEFT BAR
    */
    
    #leftNavBar {
      padding-left: 0;
      margin-left: 0;
      width: 17% !important;
    }

    #leftNavBar a {
      color: #222222;
      font-weight: bold;
      text-decoration: none;
    }

    #leftNavBar .hoverable {
      padding-left: .5em;
    }

    #leftNavBar .hoverable:hover {
      background-color: white;
    }

    #leftNavBar .hoverable.selected, #leftNavBar .hoverable:hover.selected {
      background-color: #222222;
      color: white;
      border-radius: .25em;
    }

    #leftNavBar .hoverable.selected > a {
      color: white;
    }



    /*
    RIGHT BAR
    */

    .rightBar {
      background-color: white;
      width: 17% !important;
    }

    .rightBar .section {
      margin-bottom: 20px;
      background: none;
      padding: 10px;
      box-shadow: none;

      border-bottom: 1px solid #f2f2f2;
    }

    .rightBar .section:last-child {
      border-bottom: 1px solid transparent !important;
      margin-bottom: 0px;
    }

    .rightBar .section .title {
      border-bottom: 1px solid transparent;
    }

    .rightBar .section .title h5 {
      text-align: left;
      color: #222222;
    }

    .rightBar .section select { 
      max-width: 155px; 
    }

    /* BLOC Framasphere Redesign */

    #selected_aspect_contacts {
      text-align: center;
    }

    #selected_aspect_contacts:after {
      margin-bottom: 10px;
      display: block;
      position: relative;
      margin-top: 20px;
      max-width: 100%;
      background: white;

      border-top: 1px solid #f2f2f2;
      padding: 10px;
      padding-top: 10px;

      box-shadow: none;
      font-size: 11px;
      color: #555555;

      text-align: center !important;

      content: "Vous utilisez actuellement le thème Framasphere Redesign (v. 30). Tenez-vous informé des mises à jours en suivant le hashtag #Framasphere-Redesign";
    }

    /*
    PUBLISHER
    */

    #publisher, .stream_container #publisher {
      color: #999;
      border: none;
      background: white;
      margin-bottom: 10px;
      padding-top: 10px;
      margin-top: 10px;
      box-shadow: none;
    }

    .stream_container #publisher {
      margin-top: -20px !important;;
    }

    .stream_container #publisher .content_creation {
      padding: 10px;
    }

    /* Old diaspora version */
    #publisher_textarea_wrapper, #publisher form #publisher_textarea_wrapper {
      border-radius: 2px;
      border: 1px dashed #f2f2f2;
    }
    /* end */

    /* Futur diaspora version */

    #publisher form #publisher_textarea_wrapper {
      border: none !important;  
    }

    #publisher form #publisher_textarea_wrapper textarea {
      border-radius: 2px;
      border: 1px dashed #f2f2f2;
    }

    #publisher form #publisher_textarea_wrapper.active #button_container.row-fluid {
      border: none;
    }

    #publisher_textarea_wrapper.active, #publisher form #publisher_textarea_wrapper.active {
      border: 1px solid #f2f2f2;
    }

    #publisher.closed #publisher_textarea_wrapper {
      border: none !important; 
    }

    #button_container {
      margin-top: 10px;
    }

    /*
    FORMS
    */

    input:not([type="submit"]):not([type="reset"]):not([type="hidden"]):not(.as-input), textarea {
      font-family: inherit;
    }

    /* old diaspora version */
    .button {
      border-radius: 3px;
      background-image: none;
      box-shadow: 0px 1px 1px transparent;
      color: #222222;
      border: 1px solid #f2f2f2;
      background: white;
      text-shadow: none;
    }

    .button:hover {
      background-image: none;
      color: white;
      text-decoration: none;
      border: 1px solid white;
      background-color: #444;
      text-shadow: none;
    }
    /* end */

    /* Futur diaspora version : */
    .container-fluid .btn {
      border-radius: 3px;
      background-image: none;
      box-shadow: 0px 1px 1px transparent;
      color: #222222;
      border: 1px solid #f2f2f2;
      background: white;
      text-shadow: none;
    }

    .container-fluid .btn:hover {
      background-image: none;
      color: white;
      text-decoration: none;
      border: 1px solid white;
      background-color: #444;
      text-shadow: none;
    }

    .container-fluid .btn:hover, .container-fluid .btn:focus, .container-fluid .btn:active, .container-fluid .btn.active {
      background-image: none;
      background-color: #444;
      color: white;
    }



    .container-fluid .btn.disabled {
      background-color: white;
      opacity: 0.6;
    }

    .container-fluid .btn.disabled:hover {
      color: #222222;
      opacity: 0.6;
    }

    /* Old diaspora version : */
    .button.creation {
      background-image: none;
      color: #FFF;
      border: 1px solid #f2f2f2;
      background: #08C;
      opacity: 1 !important;
    }

    .button.creation:hover {
      background-image: none;
      border: 1px solid #515151;
      background-color: #444;
    }

    /* Futur diaspora version : */
    .container-fluid .btn.creation {
      background-image: none;
      color: #FFF;
      border: 1px solid #f2f2f2;
      background-color: #0088CC;

    }

    .container-fluid .btn.creation:hover {
      background-image: none;
      border: 1px solid #515151;
      background-image: none;
      background-color: #222222;
      color: white;
    }

    .btn:hover .caret {
      border-top: 4px solid white;
    }

    .container-fluid .btn.creation:hover .text {
      color: white;
    }

    /*
    COLORS
    */

    .grey, .grey * {
      color: #9197A3;
    }

    /*
    STREAM
    */

    #aspect_stream_header {
      display: none;
      padding-left: 0;
    }

    .stream_container {
      border-left: 0px;  
      padding-top: 1px;
      margin-top: 0;
      margin-left: 0;
      padding-left: 0;
    }

    .stream .stream_element {
      background: white;
      padding-top: 10px;
      border-bottom: none;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border: none !important;
      box-shadow: none !important;
    }

    .stream_element .collapsible .expander {
      height: 35px;
      border-bottom: 2px solid white;
      border-radius: 0px 0px 3px 3px;
      background-image: -moz-linear-gradient(center top , rgba(255, 255, 255, 0) 0%, white 95%);
      background-color: transparent;
    }

    .stream_element .info {
      margin-top: 7px;
    }

    #main_stream .stream_element > .media a.author-name {
      color: #08C;  
    }

    /* Futur version : */
    
    .container-fluid .row-fluid .span6 {
      width: 60% !important;  
    }
    
    .page-streams #aspect_stream_container {
      padding-top: 22px;      
    }

    /* Reshare */
    #main_stream .stream_element div.reshare {
      border-left: 2px solid #f2f2f2;
    }


    /*
    COMMENTS
    */

    .comments .comments:not(:empty) {
      background: #f2f2f2;
      padding: 5px;
      padding-left: 10px;
    } 
    
    .comments:empty {
      display: none;
    }

    .comment_stream div:empty {     }

    .comment_stream .comments > .comment, .comment_stream .comment.new_comment_form_wrapper {
      margin: 0px;
      border-top: none;
      border-bottom: 1px dotted white;
      padding: 10px 0px;
    }

    .comment_stream .comments > .comment:last-child {
      border-bottom: none;
    }

    /*
    PRIVATE MAIL
    */

    /* old version */
    .conversation.selected {
      background-color: #08C;
    }

    /* futur version */
    
    #conversations_container .stream_element.conversation {
      margin-bottom: 0;
      border-bottom: 1px solid #f2f2f2 !important;
    }
    
    #conversations_container .stream_element.conversation.selected {
      background-color: #08C;
    }

    #conversation_show .conversation_participants {
      background: #222222;
      color: white;
      padding: 10px;
      margin-bottom: 0;
      text-align: center;
      border: 1px solid white;
    }

    #conversation_show .conversation_participants h3 {
      text-align: center;
    }

    /* old version */
    .conversations_container .stream_element {
      margin-top: 0;
      margin-bottom: 0;

      border-bottom: 1px solid #f2f2f2;
    }
    /* end */

    /* futur version */
    #conversation_show .stream .stream_element {
      margin-top: 0;
      margin-bottom: 0;

      border-bottom: 1px solid #f2f2f2;
    }
    /* end */

    .conversation.unread {
      background-color: #f2f2f2;
    }

    #conversation_inbox {
      border: 1px solid white;
      border-top: 0px solid transparent;
    }

    .stream_element.conversation .message_count {
      background-color: #08C;
    }

    .stream_element.conversation .unread_message_count {
      background-color: #B94A48;
    }

    .stream_element.conversation:hover {
      background: #08C !important;
    }

    #conversation_show .conversation_participants .hide_conversation, #conversation_show .conversation_participants .delete_conversation {
      margin-top: 0;
      color: white;
    }

    #conversation_show .conversation_participants a.close_conversation {
      margin-top: 0;
      color: white !important;;
    }

    #conversation_show .conversation_participants a.close_conversation .icons-deletelabel {
      color: white !important;
    }
    
    /* 
    PROFIL PAGE
    */

    #profile_container .profile_header {
      border-left: 0px;  
      margin-top: 0 !important;
      margin-left: 0;
    }

    .button.in_aspects {
      background-image: none;
      background: #3F8FBA;
      color: white;
    }

    .button.in_aspects:hover {
      background-image: none;
      background: #666;
    }
    
    /* Profil Information
    **********************/

    
    #profile ul#profile_information > li h4 {
      text-transform: uppercase;
            color: #08C;
    }

    #profile .mutual {
      background-color: white;
    }
    
    #profile_container #profile #profile_photo {
     border-bottom-color: transparent;  
    }
    
    #profile_container #profile ul#profile_information {
      background: white;
      color: #222222;
      border-top: 0px solid transparent;
      padding: 8px;
      margin-top: 10px;
    }
    
    #profile ul#profile_information:before {
      position: absolute;
      margin-top: -15px;
      margin-left: 80px;
      content: "";
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;

      border-bottom: 10px solid white;
    }
    
    
    /* Profil header
    *****************/
    #profile_container .profile_header {
      background-color: #222222;
      color: white;
    }
    
    #profile_container .profile_header #author_info #sharing_message.entypo.check {
     color: #4d824d;
    }
    
    #profile_container .profile_header #profile_horizontal_bar ul#profile_nav > li.active a {
      color: white;
      text-decoration: none;
    }
    
    #profile_container .profile_header #profile_horizontal_bar ul#profile_nav > li a:hover,
      #profile_container .profile_header #profile_horizontal_bar ul#profile_nav > li a:hover .entypo {
      color: #0088CC;
    }
    
    #profile_container .profile_header #profile_horizontal_bar ul#profile_nav > li.active a .entypo {
      color: white;
    }
    
    #profile_container .profile_header .entypo {
      color: white;
    }
    
    #profile_container .profile_header #profile_horizontal_bar {
      border: none;
      border-bottom: 1px solid white !important;
    }
    
    #profile_container .stream_container {
      margin-top: 20px;
    }
    
    #profile_container .profile_header #profile_horizontal_bar #profile_buttons > .profile_button .entypo.profile-header-icon, 
    #profile_container .profile_header #profile_horizontal_bar #profile_buttons > .profile_button .profile-header-icon {
      color: white !important;
    }

    #profile_container .profile_header #profile_horizontal_bar #profile_buttons > .profile_button .entypo.profile-header-icon:hover, 
    #profile_container .profile_header #profile_horizontal_bar #profile_buttons > .profile_button .profile-header-icon:hover {
      color: #0088CC !important;
    }
    
    .aspect_dropdown li.newItem a {
      color: #222222 !important;
      text-decoration: none;
      padding-bottom: 10px !important;
    }
    
    .aspect_dropdown li.newItem a:hover {
      background: none !important;
      color: #0088CC !important;
    }
    
    /*
    HASHTAG PAGE
    */
    
    #tags_show .span3.offset1 {
      margin-left: 0px !important;
    }
    
    #tags_show .span3 h4 {
     font-size: 14px;  
      text-align: center;
    }
    
    #tags_show #author_info {
      margin-bottom: 50px !important;
    }
    
    #tags_show h2 {
      color: #0088D1;
    }
    
    .info .tag {
      background: none;
      color: #0088D1;
      border-bottom: 0px;
    }
    
    .info .tag:hover {
      border-bottom: none;
    }
    
    /*
    POST DETAIL PAGE
    */
    #single-post-container {
      width: 1024px;
      margin: auto;
    }
    
    #single-post-content {
      width: 50% !important;
    }
    
    #single-post-interactions {
      width: 50% !important;
    }
    
    

    /* PEOPLE STREAM */
    
    .stream #people_stream .stream_element.media {
      border-bottom: 1px dotted #f2f2f2 !important;
    }
    
    .stream #people_stream .media.stream_element:last-child {
      border-bottom: none;
    }
    
    
    /*
    FLASH NOTICE
    */
    
    #flash_notice, #flash_alert, #flash_error {
      position: fixed;
      z-index: 1003;
      top: -4em;
    }
    #flash_notice.expose, #flash_alert.expose, #flash_error.expose {
      opacity: 1 !important;  
      animation: 7s ease-in-out 0s normal none 1 running expose;
    }
    #flash_notice .message {
      color: white !important;
      background-color: #08C;
      border: 0;
    }
    #flash_notice .message, #flash_alert .message, #flash_error .message {
      color: black;
      box-shadow: 0px -1000em 0px 1000em #08C;
      font-size: 1.25em;
      padding: 0.83em;
      border-radius: 0;
    }
    @Keyframes expose {
      0% {
        top: -4em;
      }
      15% {
        top: 0px;
      }
      90% {
        top: 0px;
      }
      100% {
        top: -4em;
      }
    }
  }

/* SPECIAL FRAMASPHERE */

@-moz-document domain("framasphere.org")  {
  body > header .diaspora_header_logo {
    width: 100px;
  }

  body > header .diaspora_header_logo:before {
    content: "framasphere";
  }
}